body{
    background-color: black;
}
button{
    background-image:linear-gradient(black,red) ;
    border-radius: 30px;
    border: 2px green solid;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 350px;
    border: 3px beige solid;
    border-radius:40px ;
    width: 400px;
    background-image: linear-gradient(skyblue,black);
}


h1{
    font-family:sans-serif ;
    color: black;
    text-shadow: 2px 2px yellow;
    text-align: center;
}
input{
    background-color: darkcyan;
    border: 2px black solid;
    border-radius: 30px;
}

input:hover{
    background-color: palevioletred;
}